body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lotus-div {
  width: 1000px;
  height: 800px;
  position: relative;
  border: 1px solid;
}

@keyframes rotatePetal2 {
  from {
    transform: translate(300px, 300px) rotate(-45deg);
    background-color: rgba(38, 12, 114, 0.454);
  }
  to {
    transform: translate(200px, 315px) rotate(-65deg);
    background-color: rgba(235, 58, 27, 0.735);
  }
}
@keyframes rotatePetal3 {
  from {
    transform: translate(300px, 300px) rotate(-45deg);
    background-color: rgba(38, 12, 114, 0.454);
  }
  to {
    transform: translate(400px, 315px) rotate(-25deg);
    background-color: rgba(235, 58, 27, 0.735);
  }
}
@keyframes rotatePetal4 {
  from {
    transform: translate(300px, 300px) rotate(-45deg);
    background-color: rgba(38, 12, 114, 0.454);
  }
  to {
    transform: translate(200px, 315px) rotate(-85deg);
    background-color: rgba(24, 155, 170, 0.81);
  }
}
@keyframes rotatePetal5 {
  from {
    transform: translate(300px, 300px) rotate(-45deg);
    background-color: rgba(38, 12, 114, 0.454);
  }
  to {
    transform: translate(400px, 315px) rotate(-5deg);
    background-color: rgba(24, 155, 170, 0.81);
  }
}
@keyframes rotatePetal6 {
  from {
    transform: translate(300px, 300px) rotate(-45deg);
    background-color: rgba(38, 12, 114, 0.454);
  }
  to {
    transform: translate(200px, 315px) rotate(-105deg);
    background-color: rgba(38, 12, 114, 0.454);
  }
}
@keyframes rotatePetal7 {
  from {
    transform: translate(300px, 300px) rotate(-45deg);
    background-color: rgba(38, 12, 114, 0.454);
  }
  to {
    transform: translate(400px, 315px) rotate(15deg);
    background-color: rgba(38, 12, 114, 0.454);
  }
}
@keyframes rotatePetal8 {
  from {
    transform: translate(300px, 300px) rotate(-45deg);
    background-color: rgba(38, 12, 114, 0.454);
  }
  to {
    transform: translate(200px, 315px) rotate(-125deg);
    background-color: rgba(93, 199, 17, 0.454);
  }
}
@keyframes rotatePetal9 {
  from {
    transform: translate(300px, 300px) rotate(-45deg);
    background-color: rgba(38, 12, 114, 0.454);
  }
  to {
    transform: translate(400px, 315px) rotate(35deg);
    background-color: rgba(93, 199, 17, 0.454);
  }
}
@keyframes petalOneColor {
  from {
    background-color: rgba(38, 12, 114, 0.454);
  }
  to {
    background-color: rgba(196, 20, 82, 0.926);
  }
}
@keyframes rotateLeaf1 {
  from {
    transform: translate(245px, 460px) rotate(-75deg);
  }
  to {
    transform: translate(220px, 520px) rotate(-100deg);
  }
}
@keyframes rotateLeaf2 {
  from {
    transform: translate(455px, 460px) rotate(-15deg);
  }
  to {
    transform: translate(480px, 520px) rotate(10deg);
  }
}
.petal {
  width: 400px;
  height: 400px;
  border-radius: 100% 0% 100% 0%/100% 0% 100% 0%;
  position: absolute;
}

.petal-1 {
  transform: translate(300px, 300px) rotate(-45deg);
  animation: petalOneColor 4s infinite;
}

.petal-2 {
  animation: rotatePetal2 4s infinite;
}

.petal-3 {
  animation: rotatePetal3 4s infinite;
}

.petal-4 {
  animation: rotatePetal4 4s infinite;
}

.petal-5 {
  animation: rotatePetal5 4s infinite;
}

.petal-6 {
  animation: rotatePetal6 4s infinite;
}

.petal-7 {
  animation: rotatePetal7 4s infinite;
}

.petal-8 {
  animation: rotatePetal8 4s infinite;
}

.petal-9 {
  animation: rotatePetal9 4s infinite;
}

.leaf {
  width: 300px;
  height: 300px;
  border-radius: 100% 0% 100% 0%/100% 0% 100% 0%;
  position: absolute;
  background-color: rgba(11, 119, 11, 0.999);
}

.leaf-1 {
  animation: rotateLeaf1 4s infinite;
}

.leaf-2 {
  animation: rotateLeaf2 4s infinite;
}

/*# sourceMappingURL=style.css.map */
