@use "sass:list";

$petalSize: 400px;
$backgroundOG: rgba(38, 12, 114, 0.454);
$startPosition: translate(300px, 300px) rotate(-45deg);
$borderRadius: 100% 0% 100% 0% / 100% 0% 100% 0%;
$leafSize: 300px;
$firstPairPetalColor: rgba(235, 58, 27, 0.735);
$secondPairPetalColor: rgba(24, 155, 170, 0.81);
$thirdPetalColor: $backgroundOG;
$fourthPairPetalColor: rgba(93, 199, 17, 0.454);
$colorList: $firstPairPetalColor, $secondPairPetalColor, $thirdPetalColor, $fourthPairPetalColor;

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lotus-div {
    width: 1000px;
    height: 800px;
    position: relative;
    border: 1px solid;
}


@for $i from 0 through 3 {
    @keyframes rotatePetal#{$i * 2 + 2} {
        from {
            transform: $startPosition;
            background-color: $backgroundOG;
        }
        to {
            transform: translate(200px, 315px) rotate(-#{65 + $i * 20}deg);
            background-color: list.nth($colorList, $i + 1);
        }
    }

    @keyframes rotatePetal#{$i * 2 + 3} {
        from {
            transform: $startPosition;
            background-color: $backgroundOG;
        }
        to {
            transform: translate(400px, 315px) rotate(#{-25 + $i * 20}deg);
            background-color: list.nth($colorList, $i + 1);
        }
    }
}

@keyframes petalOneColor {
    from {
        background-color: $backgroundOG;
    }
    to {
        background-color: rgba(196, 20, 82, 0.926);
    }
}

@keyframes rotateLeaf1 {
    from {
        transform: translate(245px, 460px) rotate(-75deg);
    }
    to {
        transform: translate(220px, 520px) rotate(-100deg);
    }
}

@keyframes rotateLeaf2 {
    from {
        transform: translate(455px, 460px) rotate(-15deg);
    }
    to {
        transform: translate(480px, 520px) rotate(10deg);
    }
}

.petal {
    width: $petalSize;
    height: $petalSize;
    border-radius: $borderRadius ;
    position: absolute;
}

.petal-1 {
    transform: $startPosition;
    animation: petalOneColor 4s infinite;
}

@for $i from 2 to 10 {
    .petal-#{$i} {
        animation: rotatePetal#{$i} 4s infinite;
    }
}

.leaf {
    width: $leafSize;
    height: $leafSize;
    border-radius: $borderRadius ;
    position: absolute;
    background-color: rgba(11, 119, 11, 0.999);
}

@for $i from 1 through 2 {
    .leaf-#{$i} {
        animation: rotateLeaf#{$i} 4s infinite;
    }
}
